# Datoteka example.config
# Primjer konfiguracije, popis svih varijabli.
# Kopirajte u app.config i unesite ispravne podatke.

DATABASE_HOST = 'rwa.studenti.math.hr';
DATABASE_USER = 'vjoha';
DATABASE_PASS = '1191251848';
DATABASE_DB = 'vjoha_projektbaza';
 
SESSION_TYPE = 'cachelib';
SESSION_PERMANENT = False;

# Sada konfiguriramo spajanje na bazu pomoću SQLAlchemy.
# Prilagodite username, password, hostname.math.hr, db_name unutar SQLALCHEMY_DATABASE_URI svojim podacima.
# OPREZ: migracija će obrisati sve tablice iz baze db_name koje ova aplikacija ne koristi!

SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://vjoha:1191251848@rwa.studenti.math.hr/vjoha_projektbaza'
SQLALCHEMY_TRACK_MODIFICATIONS = False
